body
{
    height: 100vh;
    margin:0;
    text-align: center;
}

main{
    height: 100vh;
}

footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img{
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
}